body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
  color: #ff3b3b;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ff3b3b;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1a1a1a, #2b0000);
  text-align: center;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff3b3b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: darkred;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.dark {
  background: #181818;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #111;
}
