body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: #111;
  position: sticky;
  top: 0;
}

.logo {
  color: #ff3b3b;
  font-weight: bold;
}

/* NAV */
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: #ff3b3b;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: linear-gradient(to right, #8b0000, #1a1a1a, #002868);
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 18px;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff3b3b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: darkred;
}

/* PAGE SECTIONS */
.page {
  padding: 60px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
}
